
	/* Universal Styles */

html,
.about p,
.serviceblock h3 {
	font-size: 18px;
	line-height: 1.4;
}

body {
	font-family: Helvetica, sans-serif;
}

header .container,
.aboutblock h2 {
 	font-size: 1rem;
 	color: white;
 	background-color: cadetblue;
}

.about h2,
.bannerbox {
	font-weight: bold;
}

.logo img {
	height: 1.5rem;
	padding-right: 1rem;
}

.logo {
 	display: flex;
 	align-items: center;
}

	/* Site Container */

.container {
	width: 960px;
	margin: 0 auto;
}

		/* Media Queries */

@media only screen and (max-width: 1024px) {
	.container {
		width: 100%;
	}
}

 	/* Header */

header {
 	display: flex;
 	flex-direction: column;
 	background: url("../images/glasses-bg.png") center no-repeat;
 	background-size: cover;
 	height: 30rem;
 }

 		/* Media Queries */

@media only screen and (max-width: 1024px) {
	header {
		height: 22rem;
	}
}

 		/* Logo and Site Nav */

 	header .container {
	 	display: flex;
	 	justify-content: space-between;
	 	align-items: center;
	 	margin-top: 1rem;
 	}
	 
	header .logo,
	nav {
		padding: 1rem 2rem;
	}

	nav span {
		padding-left: 2rem;
	}

		/* Media Queries */

	@media only screen and (max-width: 1024px) {
		header .container {
			margin-top: 0;
		}
	}

 		/* Banner Box */

	.bannerbox {
 		line-height: 1.2;
 		font-size: 2rem;
 		padding: 1.5rem 5rem;
 		background-color: white;
 		width: 24rem;
 		margin-top: 10rem;
 		align-self: flex-end;
 		margin-right: 5rem;
 	}

 		/* Media Queries */

 	@media only screen and (max-width: 1024px) {
		.bannerbox {
			margin-top: 5rem;
			margin-right: 2rem;
	 		font-size: 1.33rem;
	 		padding: 0.75rem 4rem;
	 		line-height: 2.4;
	 		width: 16.3rem;
	 	}
	}

 	/* Main Section */

main .container {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	margin-bottom: 5rem;
}

 		/* Services Icons */

 	.services {
 		display: flex;
 		margin-bottom: 3rem;
 		align-self: center;
 	}

 	.serviceblock {
 		display: flex;
 		height: 8rem;
 		margin-left: 3rem;
 		margin-right: 3rem;
 		align-items: center;
 		justify-content: space-between;
 		flex-direction: column;
 		width: 5rem;
 	}

 	.serviceblock h3 {
 		text-align: center;
 	}

 	.paper {
 		width: 3.5rem;
 	}

 	.otherimage {
 		width: 5rem;
 	}

 		/* About Blocks */

 	.about {
 		display: flex;
 		justify-content: center;
 	}

 	.aboutblock {
 		width: 35%;
 	}

 	.initial {
 		margin-right: 5%;
 	}

 	.aboutblock h2 {
 		padding: 0.5rem 0 0.5rem 1.25rem;
 		margin-bottom: 1rem;
 		width: 10rem;
 	}

 	/* Footer */

footer .container {
	display: flex;
	align-items: center;
	background-color: azure;
}

footer .logo {
	padding: 4rem 0 4rem 4rem;
}
